[submodule "repos/keras-transformer"]
	path = repos/keras-transformer
	url = https://github.com/maresb/keras-transformer
        branch = tfv2
[submodule "repos/medical_ts_datasets"]
	path = repos/medical_ts_datasets
	url = https://github.com/maresb/medical_ts_datasets
	branch = tfv2
